/*
    This stylesheet stylizes the calendar application.
    Author: MAVIRI
*/

// CSS CLASS FOR OUR BIG PANES
.bordered_pane {
    -fx-background-color: #c9ecca;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

// CSS CLASS FOR MONTH LABEL HEADING LARGE SECTIONS IN THE GUI
.month_label {
    -fx-font-size: 36pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS HEADING SECTIONS IN THE GUI
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI
.subheading_label {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR TODAY BUTTON
.today_button {
    -fx-background-color: deepskyblue;
}

// CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI
.prompt_label {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR TABLE BORDER
.table {
    -fx-border-color: #7777dd;
    -fx-border-width: 2;
    -fx-background-color: #c9ecca;
}

// CSS CLASS FOR COLUMNS
.column {
    -fx-background-color: #c9ecca;
    -fx-font-size: 10pt;
    -fx-border-color: #c9ecca;
}

// CSS CLASS FOR HOLIDAYS
.date_holiday {
    -fx-background-color: #fdf99e;
}

// CSS CLASS FOR EVENTS
.date_event {
    -fx-border-color: #fdf99e;  //#fd9ebb
    -fx-border-width: 3.5;
}